
:host {
  display: block;
  height: calc(100vh - 50px);
}

.timeline {
  //background-color: lightseagreen;
  width: 100%;
  height: 100%;
}

//.timeline {
//  .event {
//    display: flex;
//    .name, .content, .result, .impact, .person {
//      flex: 1;
//    }
//  }
//}
