<div class="buttons">
  <!--  <button class="button" routerLink="./put">添加事件</button>-->
  <!--  <select [(ngModel)]="scale">-->
  <!--    <option value="1">年</option>-->
  <!--    <option value="2">月</option>-->
  <!--    <option value="3">日</option>-->
  <!--    <option value="4">时</option>-->
  <!--  </select>-->
  <button (click)="back()">后退</button>
  <button (click)="forward()">前进</button>
</div>
<canvas class="view" #view (click)="onClick($event)"></canvas>

<div class="affair-pop" (mousedown)="onMousedown($event)" (mouseup)="onMouseup($event)" *ngIf="checkedAffair">
  <div class="main" (mousedown)="$event.cancelBubble = true">
    <h3>查看事件</h3>
    <div>
      <div>名称：</div>
      <label>
        <input type="text" [(ngModel)]="checkedAffair.name">
      </label>
    </div>
    <div>
      <div>内容：</div>
      <label>
        <textarea [(ngModel)]="checkedAffair.content"></textarea>
      </label>
    </div>
    <div>
      <div>结果：</div>
      <label>
        <textarea [(ngModel)]="checkedAffair.result"></textarea>
      </label>
    </div>
    <div>
      <div>影响：</div>
      <label>
        <textarea [(ngModel)]="checkedAffair.impact"></textarea>
      </label>
    </div>
    <div>
      <div>开始时间：</div>
      <label>
        <input type="text" [(ngModel)]="checkedAffair.startTime">
      </label>
    </div>
    <div>
      <div>结束时间：</div>
      <label>
        <input type="text" [(ngModel)]="checkedAffair.endTime">
      </label>
    </div>
    <div class="buttons">
      <button class="button" (click)="saveAffair()">提交</button>
      <button class="button" (click)="removeAffair()">删除</button>
    </div>
  </div>
</div>
