
.list {
  .person, .caption {
    display: flex;
    .name, .gender, .birth, .buttons {
      flex: 1;
      text-align: center;
    }
  }
  .caption {
    font-weight: bold;
    background-color: #ddd;
  }
  .person:nth-child(odd) {
    background-color: #eee;
  }
}
